<div ng-controller="buildTempTravelPlanCtrl" ng-init="init()" style="padding-left: 400px;padding-right: 400px">
    <br>
    <h3>Travel sites:</h3>
    <br>
    <div>
        <button class="pull-left btn btn-success" type="button" style="width: 200px; padding: 2px 2px;"
                ng-click="openTravelPlanBuildBox()" title="buildTravelPlan">
            Choose travel Site
        </button>
    </div>
    <table ng-table="tableParams" class="table table-bordered table-hover table-condensed">
        <colgroup>
            <col width="5%" />
            <col width="10%" />
            <col width="15%" />
            <col width="15%" />
        </colgroup>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Area</th>
            <th>siteName</th>
        </tr>
        <tr ng-repeat="row in travelSiteList">
            <td header="'headerCheckbox.html'"><input type="checkbox" ng-model="row.checked" /></td>
            <td title="'id'" sortable="'id'"><span>{{row.id}}</span></td>
            <td title="'area'" sortable="'area'"><span>{{row.area}}</span></td>
            <td title="'siteName'" sortable="'siteName'"><span>{{row.siteName}}</span></td>
        </tr>
    </table>
</div>