<div>
    <div class="modal-header">
        <h1 class="modal-title" id="modal-title">Travel Plan Detail</h1>
    </div>
    <div class="modal-body" id="modal-body">
        <h1>
            Existed: {{tempTravelPlan.alreadyExisted}}
            {{tempTravelPlan.cost}}
        </h1>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="buildPlan()">Build Plan</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    <div>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </div>
</div>
