<div>
    <div class="modal-header">
        <h1 class="modal-title" id="modal-title">Travel Plan Detail</h1>
    </div>
    <div class="modal-body" id="modal-body">
        <h3>Basic info:</h3>
        <h4>Plan Id:{{tempTravelPlan.id}}</h4>
        <h4>Grade:{{tempTravelPlan.grade| number:2}}</h4>
        <h4>Price:{{tempTravelPlan.price| number:2}}
            Cost:{{tempTravelPlan.cost| number:2}}</h4>
        <h4>Route:{{tempTravelPlan.route}}</h4>
        <h3>Tags:</h3>
        <h4>Area:{{tempTravelPlan.areaString}}</h4>
        <h4>Scene:{{tempTravelPlan.sceneString}}</h4>
        <h4>Season:{{tempTravelPlan.seasonString}}</h4>
        <h4>Suit Age:{{tempTravelPlan.suitAgeString}}</h4>
        <h4>Category:{{tempTravelPlan.categoryString}}</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="buildPlan()">Build Plan</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    <div>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </div>
</div>
