<style type="text/css">
    div2 {display: inline}
</style>
<div ng-controller="findTravelPlanByTagsCtrl" ng-init="init()" >
    <div style="padding-left: 200px; padding-right: 200px">
        <div2>
            <h3>Search Travel Plan</h3>
            <h4>Area tags</h4>
            <div2>
                <div2 ng-repeat="area in areas">
                        <input type="checkbox" ng-checked="isCheckedArea(area.id)"
                               ng-click="updateSelectionArea($event,area.id)" />{{area.name}}
                </div2>
            </div2>
            <h4>Scene tags</h4>
            <div2 ng-repeat="scene in scenes">
                <input type="checkbox" ng-checked="isCheckedScene(scene.id)"
                       ng-click="updateSelectionScene($event,scene.id)" />{{scene.name}}
            </div2>

            <h4>Season tags</h4>
            <div2>
                <div2 ng-repeat="season in seasons">
                        <input type="checkbox" ng-checked="isCheckedSeason(season.id)"
                               ng-click="updateSelectionSeason($event,season.id)" />{{season.name}}
                </div2>
            </div2>
            <h4>SuitAge tags</h4>
            <div2>
                <div2 ng-repeat="suitAge in suitAges">
                        <input type="checkbox" ng-checked="isCheckedSuitAge(suitAge.id)"
                               ng-click="updateSelectionSuitAge($event,suitAge.id)" />{{suitAge.name}}
                </div2>
            </div2>
            <h4>Category tags</h4>
            <div2>
                <div2 ng-repeat="category in categorys">
                        <input type="checkbox" ng-checked="isCheckedCategory(category.id)"
                               ng-click="updateSelectionCategory($event,category.id)" />{{category.name}}
                </div2>
            </div2>
            <br>
            <h4>Find Temporary Travel Product</h4>
            <div2>
                <input type="checkbox" ng-checked="isCheckedTemporary()"
                       ng-click="updateSelectionTemporary($event)" />
            </div2>
            <br>
            <div2 class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="searchTravelPlan()">Search Travel Product</button>
            </div2>
            <!--<div2>-->
                <!--{{selectedArea}}-->
                <!--{{selectedScene}}-->
                <!--{{selectedSeason}}-->
                <!--{{selectedSuitAge}}-->
                <!--{{selectedCategory}}-->
            <!--</div2>-->
        </div2>
    </div>
    <div style="padding-left: 200px; padding-right: 200px">
        <h3>Choose Travel Product</h3>
        <h4>
            The travel plan is ordering by "grade".<br>
            The higher "grade" is, the more expected profit the travel product has.<br>
            "Grade" is calculated with many factors like gross profit, popularity, acceptance, match degree, user judgement and so on.
        </h4>
        <table ng-table="tableParams" class="table table-bordered table-hover table-condensed">
            <colgroup>
                <col width="5%" />
                <col width="8%" />
                <col width="5%" />
                <col width="5%" />
                <col width="10%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="5%" />
                <col width="12%" />
                <col width="12%" />
                <col width="12%" />
                <col width="12%" />
                <col width="12%" />
                <col width="12%" />
            </colgroup>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Match Degree</th>
                <th>Grade</th>
                <th>Route</th>
                <th>Price</th>
                <th>Cost</th>
                <th>Popularity Index</th>
                <th>Acceptance Index</th>
                <th>User Judgement</th>
                <th>Area</th>
                <th>Scene</th>
                <th>Category</th>
                <th>Suit season</th>
                <th>Suit age</th>
                <th>Detail</th>
                <th>Promotion</th>
            </tr>
            <tr ng-repeat="row in travelPlans">
                <td title="'id'"><span>{{row.id}}</span></td>
                <td title="'name'" ><span>{{row.name}}</span></td>
                <td title="'matchDegree'"><span>{{row.matchDegree| number:2}}</span></td>
                <td title="'grade'"><span>{{row.grade| number:2}}</span></td>
                <td title="'route'"><span>{{row.route}}</span></td>
                <td title="'price'"><span>{{row.price| number:2}}</span></td>
                <td title="'cost'"><span>{{row.cost| number:2}}</span></td>
                <td title="'popularity'"><span>{{row.popularity| number:2}}</span></td>
                <td title="'acceptance'"><span>{{row.acceptance| number:2}}</span></td>
                <td title="'userJudgement'"><span>{{row.userJudgement| number:2}}</span></td>
                <td title="'area contained'"><span>{{row.areaString}}</span></td>
                <td title="'scene contained'"><span>{{row.sceneString}}</span></td>
                <td title="'category contained'"><span>{{row.categoryString}}</span></td>
                <td title="'suitable season'"><span>{{row.seasonString}}</span></td>
                <td title="'suitable age'"><span>{{row.suitAgeString}}</span></td>
                <td title="'suitable age'">
                    <button class="pull-left btn btn-success" 	type="button" ng-click="openProductDetailModel(row)">
                        <i class="fa fa-info">Travel Product Info</i>
                    </button>
                </td>
                <td title="'suitable age'">
                    <button class="pull-left btn btn-success" 	type="button" ng-click="openPromotionDetailModel(row)">
                        <i class="fa fa-info">Promotion</i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
