<div id="pc-content" class="container-fluid" ng-controller="loginCtrl" ng-init="init()"
     style="padding-left: 180px;padding-right: 180px">
    <div class="container">
        <div class="page-header">
            <h3>Welcome to Login Management System</h3>
        </div>
        <div>
            <form role="form" ng-controller="loginCtrl">
                <div class="form-group">
                    <label for="username" class="col-sm2 control-label">UserName:</label>
                    <input id="username" ng-model="username" required type="text" class="form-control" />
                </div>
                <div>
                    <label for="password" class="col-sm2 control-label">Password:</label>
                    <input id="password" ng-model="password" required type="password" class="form-control" />
                </div>
                <hr>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <input type="submit" value="Log In" class="btn btn-primary" ng-click="login()" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>