<div id="pc-content" class="container-fluid" ng-controller="loginCtrl" ng-init="init()"
     style="padding-left: 180px;padding-right: 180px">
    <div class="container">
        <div class="page-header">
            <h2>Welcome to Travel Agency Management System</h2>
        </div>
        <div>
            <h3>The technology and framework used:</h3>
            <h4>Front End: AngularJs, Bootstrap</h4>
            <h4>Back End: Java, Spring Boot, Spring JPA</h4>
            <h4>Database: MySQL</h4>
        </div>
    </div>
</div>